<div class="panel-header panel-header-lg center-header">
    <header>과제</header>
</div>
<div class="content">
    <div class="row">
        <% if @homeworks.count == 0 then %>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body no-data">
                    <i class="fas fa-exclamation"></i>
                    <h4>아직 주어진 과제가 없습니다!</h4>
                </div>
            </div>
        </div>
        <% else %>
        <% @homeworks.each do |h| %>
        <div class="col-md-4 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">과제 <%= h.id %> | <strong>마감일 <%= h.closing.strftime("%m/%d") %></strong></h5>
                    <h4 class="card-title"><%= h.title %></h4>
                </div>
                <div class="card-body">
                    <%= h.content.html_safe %>
                </div>
                <div class="card-footer">
                   <% unless h.submissions.where(user_id: current_user.id).count == 1 %>
                   <%= link_to "과제 제출", submission_path(h.id), class: "btn btn-block btn-primary" %>
                   <% else %>
                   <a disabled class="btn btn-block btn-info">과제 제출 완료</a>
                   <% end %>
                </div>
            </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>