<div class="panel-header panel-header-lg center-header">
    <header>과제 제출</header>
</div>
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <%= form_for @submission, url: @url, html: { class: "has-file" } do |f| %>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">Submit Homework</h5>
                    <h4 class="card-title" style="font-weight: 600">과제 제출</h4>
                </div>
                <div class="card-body">
                    <% if @submitted_before %>
                    <%= f.hidden_field :id, value: @submission.id %>
                    <% end %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :homework_id, value: params[:id] %>
                    <%= f.file_field :file, required: true, class: "inputfile", "data-multiple-caption": " 파일이 선택되었습니다." %>
                    <label for="submission[file]" class="fileTrigger">
                        <figure>
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="70" viewBox="0 0 20 17"><path fill="dimgrey" d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                        </figure>
                        <span class="desc">클릭하거나 드래그하여 파일을 추가하세요<br><small>압축 파일만 가능합니다. (zip, tar, rar, gz 등)</small></span>
                    </label>
                    <script>
                        $("input[type=file]").change(function(){
                            if($(this).val()) {
                                if(['zip', 'tar', 'gz', 'rar'].indexOf($(this).val().split('.').pop()) < 0) {
                                    swal('파일 형식 오류', '압축 파일이 아니거나 지원하지 않는 형식입니다.', 'error');
                                    $("span.desc").text("ZIP / TAR / GZ / RAR 형식만 지원합니다.");
                                    $("input[type=submit]").attr('disabled', true);
                                } else {
                                    $(".fileTrigger").addClass("selected");
                                    $("span.desc").text($(this).val().split('\\').pop() + $(this).attr('data-multiple-caption'));
                                    $("input[type=submit]").removeAttr('disabled');
                                }
                            }
                        });
                    </script>
                </div>
                <div class="card-footer">
                    <%= f.submit "과제 제출", class: "btn btn-primary btn-block", "data-confirm": "제출하시겠습니까?" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>